data/
.venv/
correct_AF/
correct_NSR/
misclassified_AF/
misclassified_NSR/
iridia_af/__pycache__/
examples/dl/__pycache__/
rrr_segment187GB.csv
examples/dl/clustering/saved_models/20250319-004932_cnn_autoencoder_kmeans/cnn_autoencoder.pt
examples/dl/clustering/saved_models/20250319-004932_cnn_autoencoder_kmeans/extracted_features.npz
*.pt
*.npz
examples/dl/clustering/saved_models/
FA chronique/
data-v2/
examples/dl/ViT/__pycache__/
examples/dl/ViT_spec/__pycache__/